<% if @events.nil? %>
<h1> No events at this time.</h1>
<% else %>
<section class="ui middle aligned center aligned grid">
  <ul>
    <% @events.each do |event| %>
     <li> <%= link_to event.name, event_path(event.uuid)%> </li>
     <li> <%= event.info %> </li>
     <li> <%= event.date %> </li>
     <li> <%= event.location %> </li><br><br>
    <% end %>
  </ul>
</section>
<% end %>