<% if flash[:alert] || flash[:notice] %>
 <div class="ui error message middle aligned center aligned grid">
 <i class="close icon"></i>
 <div class="column">
    <p>
      <%= flash[:alert]%>
    </p>
    <p>
      <%= flash[:notice]%>
    </p>
    </div>
  </div>
<% end %>
